body {
  @extend %manrope-600;
  font-size: 18px;
  line-height: 31px;
  color: $black-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.h1 {
  font-size: 64px;
  line-height: 84px;
  @extend %manrope-800;
  letter-spacing: -0.03em;
  color: $black;
}

.h2 {
  font-size: 58px;
  line-height: 76px;
  @extend %manrope-800;
  letter-spacing: -0.03em;
  color: $black;
}

.h3 {
  font-size: 48px;
  line-height: 67px;
  @extend %manrope-700;
  letter-spacing: -0.03em;
  color: $black;
}

.h4 {
  font-size: 40px;
  line-height: 56px;
  @extend %manrope-700;
  letter-spacing: -0.03em;
  color: $black;
}

.h5 {
  font-size: 32px;
  line-height: 48px;
  @extend %manrope-700;
  letter-spacing: -0.03em;
  color: $black;
}

.h6 {
  font-size: 20px;
  line-height: 30px;
  @extend %manrope-600;
  letter-spacing: -0.03em;
  color: $black;
}

.body-1 {
  font-size: 18px;
  line-height: 32px;
  @extend %manrope-600;
  color: $black;
}

.body-2 {
  font-size: 16px;
  line-height: 28px;
  @extend %manrope-600;
  color: $black;
}

.caption {
  font-size: 16px;
  line-height: 24px;
  @extend %manrope-500;
  color: $black-light;
}

.title-1 {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  @extend %manrope-600;
  color: $black;
}

.title-2 {
  font-size: 24px;
  line-height: 36px;
  @extend %manrope-600;
  letter-spacing: -0.03em;
  color: $black;
}

.section {
  padding: 128px 0;
}

.btn,
.btn-dark {
  background-color: $orange;
  border-radius: 12px;
  padding: 16px 40px;
  @extend %manrope-600;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  display: inline-block;
  transition: all 0.5s;
  border: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.btn-dark {
  background-color: $black;
  color: $white;
}

.link {
  display: inline-block;
  padding-right: 65px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 16px;
    background-image: url(../images/icons/arrow-right-black.svg);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.process__list {
  max-width: 432px;
  list-style: none;

  &-item {
    padding-left: 96px;
    position: relative;
    counter-increment: number;

    &:not(:last-child){
      margin-bottom: 16px;

      &::after{
        content: '';
        position: absolute;
        left: 35px;
        top: 70px;
        height: calc(100% - 72px);
        width: 0;
        border-left: 2px dashed $orange;
      }
    }

    &::before {
      content: "0" counter(number);
      position: absolute;
      left: 0;
      top: -10px;
      width: 72px;
      height: 72px;
      background-color: $blue;
      border-radius: 50%;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      @extend %manrope-700;
      font-size: 32px;
      line-height: 24px;
    }
  }
}


.offer-cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  &__item{
    background-color: $white;
    min-height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    cursor: pointer;

    &-icon{
      margin-bottom: 19px;
      path{
        fill: $black;
        transition: all 0.8s;
      }
    }

    &:hover{
      background-color: $orange;
      color: $white;

      & .offer-cards__item-icon{
        path{
          fill: $white;
        }
      }
    }
  }
}

.header-block{
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;

  &__inner{
    max-width: 733px;
    margin-left: auto;
    background-color: $black;
    padding: 96px;
  }

  &__title{
    color: $white;
    margin-bottom: 16px;
  }

  &__text{
    margin-bottom: 48px;
    color: $white;
    opacity: 0.7;
  }
}