.contactUs {
  max-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__inner{
    height: 500px;
    max-width: 729px;
    background-color: $orange;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &-title{
      color: $white;
      margin-bottom: 48px;
    }
  }
}

@media (max-width: 980px){
  .contactUs__inner{
    height: 300px;
  }
}

@media (max-width: 690px){

  .contactUs{

    .container{
      padding: 0;
    }
  }
}

@media (max-width: 690px){

  .contactUs__inner{
    padding: 0 30px;
    text-align: center;
    opacity: 0.9;

    &-link{
      margin: 0 auto;
    }
  }

}
