.steps {
  padding-bottom: 128px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 620px;

    &-title {
      margin-bottom: 16px;
    }

    &-text {
      margin-bottom: 48px;
      opacity: 0.6;
    }

    .process__list {
      max-width: 493px;
    }
  }

  &__img {
    max-width: 573px;
    object-fit: cover;
    height: 100%;
    margin-left: 30px;
  }
}

.color {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  

  &__item {
    padding: 40px 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &-title {
      margin-bottom: 32px;
      color: $white;
    }

    &-text {
      color: $white;
      opacity: 0.7;
    }
  }
}

.about-future {
  background-color: $grey-light;

  &__title {
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 64px;
  }

  &__cards {
    display: flex;

    &-item {
      padding: 88px 66px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $white;

      &:nth-child(2) {
        border: 2px solid $grey-light;
        border-top: none;
        border-bottom: none;
      }
    }

    &-title {
      margin-bottom: 16px;
      margin-top: 24px;
      text-align: center;
    }

    &-text {
      opacity: 0.6;
      text-align: center;
    }
  }

  .experience {
    padding-bottom: 0;
  }
}

.team {
  &__title {
    text-align: center;
    margin-bottom: 66px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 48px;
  }

  &-item {
    height: 432px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: flex-end;

    &__info{
      width: 100%;
      height: 116px;
      background-color: $black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      &-name,
      &-post{
        color: $white;
      }

      &-post{
        opacity: 0.6;
      }
    }
  }
}



@media (max-width: 1300px) {
  .about-future__title{
    max-width: 560px;
  }
}


@media (max-width: 1100px) {
  .steps__img{
    display: none;
  }

  .color__item{
    padding: 25px 30px;
  }

  .about-future__cards-item{
    padding: 40px 13px;
  }
}

@media (max-width: 980px) {

  .color__item{

    &-title{
      font-size: 17px;
      line-height: 26px;
    }

    &-text{
      font-size: 12px;
      line-height: 19px;
    }
  }

  .steps{
    padding-bottom: 70px;
  }

  .about-future{

    &__cards{
      flex-direction: column;
    }

    &__cards-item:nth-child(2){
      border: none;
      border-bottom: 2px solid $grey-light;
      border-top: 2px solid $grey-light;
    }
  }

  .team-item{
    height: 280px;

    &__info{
      height: 70px;
    }
  }
}

@media (max-width: 690px) {

  .color__item{
    padding: 16px 16px;

    &-title{
      font-size: 12px;
      line-height: 19px;
    }

    &-text{
      font-size: 8px;
      line-height: 13px;
    }
  }

  .about-header{
    padding-top: 0;

    .container{
      padding: 0;
    }
  }
}


@media (max-width: 690px) {

  .color__item{

    &-title{
      font-size: 9px;
      line-height: 14px;
    }

    &-text{
      font-size: 7px;
      line-height: 11px;
    }
  }

  .team__inner{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 490px) {
  .team__inner{
    grid-template-columns: 1fr;
  }

  .team-item{
    height: 300px;
  }
}