.contact{
  
  &__title{
    max-width: 500px;
    margin: 0 auto 48px;
    text-align: center;
  }

  &__form{
    max-width: 624px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &-input{
      margin-bottom: 4px;
      padding: 20px 40px;
      border: transparent;
      background-color: $grey-light;
      color: $black;
    }

    &-btn{
      margin-top: 48px;
    }
  }
}

@media (max-width: 690px) {
  .contact__form-input{
    padding: 14px 20px;
  }
}