.index-header {
  padding-top: 80px;
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 634px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__btn {
    margin-bottom: 40px;
  }

  &__time {
    padding-left: 43px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 31px;
      height: 31px;
      background-image: url(../images/icons/clock.svg);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__image {
    min-width: 605px;
    min-height: 632px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.decor-time {
  width: 300px;
  height: 120px;
  background-color: rgba(225, 225, 225, 0.43);
  border-radius: 60px;
  padding: 10px;
  margin-top: 70px;
  margin-left: -40px;

  &__inner {
    background-color: $white;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 71px;
      height: 70px;
      background-image: url(../images/icons/work-time.svg);
      left: 16px;
    }
  }
}

.decor-stars {
  width: 350px;
  height: 120px;
  background-color: rgba(225, 225, 225, 0.43);
  border-radius: 60px;
  padding: 10px;
  align-self: flex-end;
  margin-right: -40px;
  margin-bottom: 70px;

  &__inner {
    background-color: $white;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 185px;
      height: 36px;
      background-image: url(../images/icons/stars.svg);
      right: 20px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 38px;
  }
}

.quote {
  background-color: $grey-light;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 583px;
    margin-right: 20px;

    &-title {
      margin-bottom: 53px;
    }
  }

  &-list__item {
    max-width: 385px;
    padding-left: 63px;
    position: relative;

    &-text {
      opacity: 0.6;
      margin-top: 8px;
    }

    &:not(:first-child) {
      margin-top: 32px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 47px;
      height: 47px;
      background-image: url(../images/icons/gear.svg);
    }

    &:nth-child(2)::before {
      background-image: url(../images/icons/man.svg);
    }

    &:nth-child(3)::before {
      background-image: url(../images/icons/dollar.svg);
    }
  }

  &__link {
    margin-top: 32px;
    margin-left: 63px;
  }

  &__form {
    max-width: 625px;

    &-title {
      margin-bottom: 32px;
    }

    &-input {
      width: 100%;
      padding: 22px 40px;
      border: transparent;

      &:not(:first-child) {
        margin-top: 8px;
      }

      &::placeholder {
        font-size: 16px;
        line-height: 28px;
        @extend %manrope-600;
        color: $black;
        opacity: 0.5;
      }
    }

    &-btn {
      margin-top: 32px;
    }
  }
}

.process {
  &__inner {
    display: flex;
  }

  &__info {
    max-width: 524px;
    margin-right: 130px;

    &-title {
      margin-bottom: 16px;
    }

    &-text {
      margin-bottom: 32px;
      max-width: 437px;
    }
  }
}

.offer {
  background-color: $grey-light;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    margin-bottom: 8px;
  }

  &__title {
    max-width: 858px;
    text-align: center;
    margin-bottom: 64px;
  }

  &__link {
    margin-top: 32px;
    align-self: flex-end;
  }
}

.brands {
  &__title {
    max-width: 362px;
    margin: 0 auto 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    flex-wrap: wrap;
  }
}

.comments {
  background-color: $grey-light;

  &__title {
    max-width: 909px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 94px;
  }
}

.comments-slider {
  position: relative;

  &__wrapper {
    overflow: hidden;
    padding-bottom: 50px;
  }

  &__item {
    padding: 72px;
    width: 100%;
    background-color: $white;
  }

  &__info {
    margin-bottom: 30px;
  }

  &__image {
    float: left;
    margin-right: 16px;
  }

  .slick-slide {
    margin: 0 26px;
  }

  .slick-list {
    margin: 0 -26px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 11px;
    margin-top: 47px;

    li {
      line-height: 0;
    }

    button {
      border: none;
      font-size: 0;
      background-color: $grey;
      width: 32px;
      height: 4px;
      cursor: pointer;
      transition: all 0.5s;
    }

    li.slick-active {
      button {
        background-color: $orange;
      }
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    bottom: -30px;
    right: 0;
    z-index: 10;
    width: 62px;
    height: 62px;
    background-color: $black;
    font-size: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;

    &.slick-disabled {
      background-color: $white;
      width: 46px;
      height: 46px;
      bottom: -22px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 16px;
    }
  }

  .slick-prev {
    right: 75px;

    &::before {
      background-image: url(../images/icons/slider-arrows/arrow-left.svg);
    }

    &.slick-disabled {
      &::before {
        width: 22px;
        height: 16px;
        background-image: url(../images/icons/slider-arrows/arrow-left-black.svg);
      }
    }
  }

  .slick-next {
    &.slick-disabled {
      right: 20px;
    }

    &::before {
      background-image: url(../images/icons/slider-arrows/arrow-right.svg);
    }

    &.slick-disabled {
      &::before {
        width: 22px;
        height: 16px;
        background-image: url(../images/icons/slider-arrows/arrow-right-black.svg);
      }
    }
  }
}

.questions {
  background-color: #e2e6e9;

  &__title {
    margin: 0 auto 95px;
    max-width: 618px;
  }

  &-list {
    max-width: 896px;
    margin: 0 auto;
  }

  &-list__item {
    background-color: $white;
    padding: 40px;
    cursor: pointer;

    &:not(:first-child) {
      margin-top: 12px;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding-bottom: 16px;
    }

    &-btn {
      border: none;
      width: 50px;
      height: 50px;
      background-color: $orange;
      transition: all 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &::before {
        content: "+";
        @extend %manrope-500;
        font-size: 40px;
        line-height: 0%;
        color: $white;
        transition: all 0.5s;
      }
    }

    &-text {
      display: none;
      p{
        padding-right: 120px;
        font-size: 18px;
        line-height: 32px;
        opacity: 0.8;
        margin-bottom: 10px;
      }
    }

    &--active {
      .questions-list__item-btn {
        background-color: $grey;
        opacity: 0.6;

        &::before {
          content: "-";
        }
      }
    }
  }
}
