.services-one {
  &__title {
    margin-bottom: 96px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 854px;
    margin-left: 20px;

    img {
      object-fit: cover;
      width: 100%;
      margin-bottom: 56px;
    }

    h3 {
      @extend %manrope-700;
      font-size: 40px;
      line-height: 56px;
      letter-spacing: -0.03em;
      color: $black;
      margin-bottom: 24px;
    }

    h4 {
      @extend %manrope-700;
      font-size: 32px;
      line-height: 48px;
      letter-spacing: -0.03em;
      color: $black;
      margin-bottom: 24px;
    }

    p,
    blockquote {
      @extend %manrope-600;
      font-size: 16px;
      line-height: 28px;
      opacity: 0.6;
      color: black;
      margin-bottom: 24px;
    }

    blockquote{
      padding: 8px 0 8px 32px;
      border-left: 3px solid $black;
    }
  }
}

.side-bar {
  max-width: 330px;

  &__other {
    padding: 32px;
    background-color: $grey-light;
    margin-bottom: 48px;
    // min-width: 300px;

    &-title {
      margin-bottom: 32px;
    }

    &-item:not(:first-child) {
      margin-top: 26px;
    }
  }

  &__list {
    &-item {
      padding-left: 64px;
      margin-bottom: 32px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 47px;
        height: 47px;
        background-image: url(../images/icons/gear.svg);
        left: 0;
        top: -5px;
      }

      &:nth-child(2)::before {
        background-image: url(../images/icons/man.svg);
      }

      &:nth-child(3)::before {
        background-image: url(../images/icons/dollar.svg);
      }
    }

    &-title {
      margin-bottom: 8px;
    }

    &-text {
      opacity: 0.6;
    }
  }
}


@media (max-width: 1300px) {

  .services-one__inner{
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }

  .side-bar{
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 490px) {
  .side-bar{
    &__other{
      padding: 15px;
    }
  }

  .services-one__info{
    margin: 0;
  }

  .services-one__title{
    margin-bottom: 50px;
  }
}